@model Player

@{
	ViewData["Title"] = "EditPlayer";
}


@*@if (User.IsInRole("Admin"))
	{*@
<h1>Edit</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditPlayer" asp-route-id="@Model.Id">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TeamInfo" class="control-label"></label>
				<input asp-for="TeamInfo" class="form-control" />
				<span asp-validation-for="TeamInfo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Age" class="control-label"></label>
				<input asp-for="Age" class="form-control" />
				<span asp-validation-for="Age" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Img" class="control-label"></label>
				<input asp-for="Img" class="form-control" />
				<span asp-validation-for="Img" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>
@*}
	else
	{
	<p>Access Denied</p>
	<a asp-controller="Home" asp-action="Index">Home</a>
	}*@
@*@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}*@

